body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #84bce2;
    background-image: url(LAGO.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    background: #4CAF50;
    color: #fff;
    padding: 10px 0;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #f3f7f3;
    padding: 8px;
    text-align: center;
    background: #8ac6eea9;
}

th {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 20px; /* Espacio en la parte superior */
}

.button:hover {
    background: #0056b3; /* Color al pasar el ratón */
}

